<h1>Details of <i><%= @playlist_details['title'] %></i> </h1>

<a href="/playlists">Back to all Playlists</a>

<ul>
	<% @playlist_details.each do |key,value| %>
		<% if key != "tracks" && key != "user" %> 
		    <li><%= key.capitalize%> : <%= value == nil || value == "" ? "Detail Not Available" : value %></li>
		<% elsif key == "tracks" %> 
		    <li>
			    <%= key.capitalize %> (Only tracks with links can be embedded. Rest all cannot be embedded due to user restrictions)  : 
			    <ol>
			    	<% value.each do |track| %> 
			    		<% if track['embeddable_by'] == 'all' %>
				    		<li><a target="window" href="/tracks/<%= track['id']%>"><%= track['title'] %></a>
				    		</li>
			    		<% else %>
				    		<li><%= track['title'] %>
				    		</li>
			    		<% end %>
				    <% end %> 
			    </ol>
		    </li>
		<% end %>
	<% end %>
</ul>

<a href="/playlists">Back to all Playlists</a>